.editor-formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .form-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b558e;

  }
  .form-logo {
    height: 50px;
    align-self: flex-start;
    margin-bottom: 1rem;
  }
  
  form label {
    text-align: left;
    font-weight: normal;
    margin-top: 1rem;
    font-size: small;
    color: #0b558e;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form input {
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 0.2px solid #cdd6e0;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  input:focus {
    border-color: #0b558e;
    box-shadow: 0 0 0 3px rgba(11, 85, 142, 0.2);
    outline: none;
    background-color: #6383a6;
    font-weight: bold;
  }

  input:not(:placeholder-shown) {
    background-color: #f5faff; /* o el color que quieras */
    border-color: #0b558e;
    color: #0b558e;
    font-weight: bold;
  }

  form textarea {
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 0.2px solid #cdd6e0;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  textarea:focus {
    border-color: #0b558e;
    box-shadow: 0 0 0 3px rgba(11, 85, 142, 0.2);
    outline: none;
    background-color: #6383a6;
    font-weight: bold;
  }

  textarea:not(:placeholder-shown) {
    background-color: #f5faff; /* o el color que quieras */
    border-color: #0b558e;
    color: #0b558e;
    font-weight: bold;
  }

  form select {
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 0.2px solid #cdd6e0;
    height: 42px;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    color: #333;
    appearance: none; /* elimina la flecha nativa */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%230b558e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1rem;
  }
  
  select:focus {
    border-color: #0b558e;
    box-shadow: 0 0 0 3px rgba(11, 85, 142, 0.2);
    outline: none;
    background-color: #6383a6;
    font-weight: bold;
    color: white;
  }
  
  select:not(:placeholder-shown), select:valid {
    background-color: #f5faff;
    border-color: #0b558e;
    color: #0b558e;
    font-weight: bold;
  }

  form button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #0b558e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  .campo-flex {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .btn-cargarFoto {
    padding: 0.6rem 1.2rem;
    background-color: #ece87b;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    height: 42px; /* igualá a la altura del select */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
  .btn-guardar {
    margin-top: 1.5rem;
    background-color: #0b558e;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  