
.btn-CambiarPassword {
  background-color: #0b558e;
  margin-top: 2.3rem;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(74, 141, 195, 0.3);
}

.btn-CambiarPassword:hover {
  background-color: #ccc; /* Verde más oscuro */
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(66, 130, 179, 0.4);
}

.btn-CambiarPassword:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(124, 179, 66, 0.6);
}