.editor-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.editor-form {
  width: 30%;
  min-width: 300px;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  max-width: 480px;
}

.editor-preview {
  flex: 1;
  height: 100vh;
  background: linear-gradient(to bottom, #e8f1f8, #b1c8e9);
  display: flex;
  flex-direction: column; /* 👈 Necesario para apilar título + botón + preview */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem 0;
}


@media (max-width: 768px) {
  .editor-container {
    flex-direction: column;
  }

  .editor-form {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    height: auto;
  }

  .editor-preview {
    display: none;
  }
}
