.editor-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
  }
  
  .editor-form {
    width: 50%;
    padding: 2rem 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .editor-preview {
    width: 50%;
    padding: 2rem;
    background: linear-gradient(to bottom, #e8f1f8, #b1c8e9);
    display: flex;
    justify-content: center;
    align-items: start; /* o center si querés todo centrado */
    overflow: auto;
  }
  
  