.login-container {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
  }
  
  
  .login-box {
    background-color: white;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 440px;
    text-align: center;
  }
  
  .login-title {
    color: #000;
  }
  
  .login-logo {
    height: 80px;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    text-align: left;
    font-weight: normal;
    margin-top: 1rem;
    font-size: small;
    color: #0b558e;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form input {
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 0.2px solid #cdd6e0;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  input:focus {
    border-color: #0b558e;
    box-shadow: 0 0 0 3px rgba(11, 85, 142, 0.2);
    outline: none;
    background-color: #6383a6;
    font-weight: bold;
  }

  input:not(:placeholder-shown) {
    background-color: #f5faff; /* o el color que quieras */
    border-color: #0b558e;
    color: #0b558e;
    font-weight: bold;
  }
  

  form button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #0b558e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  